body{
    background-color:rgba(230, 203, 178, 0.515);
    margin: 0 auto;
    max-width: 70em;

    header{
        margin:0;
        padding: 20px 10px;
    }
    section{
        margin: 10px;
        padding: 10px;
    }
    footer{
        margin: 10px;
        padding: 10px 10px 30px;
    }
    .titulo{
            text-align:center;
            font-family:Helvetica, Arial, sans-serif;
            font-style: oblique;
            font-size: 45px;
            color:rgb(255, 245, 235);
            background-color:rgb(160, 113, 120);
    }
    .subtitulo{
            font-family:Helvetica, Arial, sans-serif;
            font-style: oblique;
            font-size: 27px;
            color:rgb(160, 113, 120);
    }
    .texto{
            font-family:Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: rgb(90, 83, 83);
            line-height: 1.3;
    }
    .marcado{
            font-family:Helvetica, Arial, sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: rgb(90, 83, 83);
    }
    nav ul{
            display:flex;
            list-style: none;
            gap: 35px;
            justify-content: center;
            text-align: center;
            margin:0;
            padding: 27px 8px;
            border: 4px solid rgb(160, 113, 120);
    }
    .menuItem{
            font-family:Helvetica, Arial, sans-serif;
            font-size: 20px;
            color: rgb(160, 113, 120);
            text-decoration:underline;
    }
    .link{
            font-family:Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: rgb(160, 113, 180);
            text-decoration:underline;
    }
    hr{
        height: 4px; 
        background-color: rgb(160, 113, 120); 
        border: none;
    }
    td{
        margin: 2px;
        padding: 2px 12px;
    }
}